/* You can add global styles to this file, and also import other style files */
.navbar-style {
    background-color: black;
    color: yellow;
}

.text-color {
    color: yellow;
}

#nav-color {
    color: yellow;
}

.background-color {
    background-color: rgb(20, 19, 19);
}

.button {
    background-color: yellow;
    color: yellow;
}