<h1 class="navbar-style">{{product.brand}} {{product.name}}</h1>
<div class="container mt-5 mb-5 navbar-style">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row navbar-style">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img id="main-image" src="{{product.img}}" width="250" /> </div>
                            <!-- <div class="thumbnail text-center"> <img onclick="change_image(this)" src="{{product.img}}" width="70"> <img onclick="change_image(this)" src="{{product.img}}" width="70"> </div> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="mt-4 mb-3"> 
                                <h5 class="text-uppercase">{{product.brand}}</h5>
                                <h5 class="text-uppercase">{{product.name}}</h5>
                                <div class="price d-flex flex-row align-items-center">
                                    <span class="act-price">{{product.price | currency}}</span>
                                </div>
                            </div>
                            <p class="about"> {{product.description}}</p>
                            <div class="cart mt-4 align-items-center">
                                <i class="fa fa-heart text-muted"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
